/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* paleta de colores */

:root {
    /* --resaltado: #20c997; */
    --resaltado: #20c997bd;
    --nav__desktop: #0d1210;
    --colorTexto: #fff;

}


/* Generales */
body {
    background-color: #0d1210;
}


svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    transition: .2s transform;
}

svg:hover {
    transform: scale(1.4);
}

.nav-link,
.nav-item,
h1,
h2,
h3,
p {
    color: var(--colorTexto);
    font-family: 'PT Sans', sans-serif;
}


.nav-link:hover {
    color: var(--resaltado);
}

/* End Generales */

/* Utilidades */
.header__desktop .nav-item .active-item {
    color: var(--resaltado);
}

.header__desktop .nav-item .activo {
    position: absolute;
    display: block;
    width: 35%;
    height: .3rem;
    margin-left: 1rem;
    background-color: #fff;
    transition: .3s;
    transition-property: width;
}

.header__mobile .navbar-nav .nav-item .activar-item {
    color: var(--resaltado);
}

.header__mobile .navbar-nav .nav-item .activar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10%;
    height: .3rem;
    background-color: #fff;
    transition: .3s;
    transition-property: width;
}

/* Contenedor principal */
.contenedor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas:
        "navegacion"
        "main"
        "footer";
    position: relative;
}


/* Menu desktop */
.header__desktop {
    display: none;
    grid-area: navegacion;
    width: 15rem;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    background-color: var(--nav__desktop);
    border-right: 1px solid var(--resaltado);
}

.header__desktop> :first-child {
    background-image: url(../img/giphy4.gif);
    width: 100%;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__desktop> :nth-child(2) {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.header__desktop> :nth-child(2)>a {
    font-family: 'Pangolin', cursive;
}

.header__desktop :first-child .logo {
    width: 100px;
    height: 98px;
    background-image: url(../img/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin: auto;
    margin-top: 1rem;

}

.header__desktop> :last-child {
    margin-top: 2rem;
}

.header__desktop__redes {
    display: flex;
    justify-content: center;
}

.header__desktop .nav-item {
    position: relative;
}

.header__desktop .nav-item>span {
    width: 0%;
}

.header__desktop .nav-item:hover>span {
    position: absolute;
    display: block;
    width: 35%;
    height: .3rem;
    margin-left: 1rem;
    background-color: #fff;
    transition: .3s;
    transition-property: width;

}

/* Menu mobile */

.header__mobile {
    grid-area: navegacion;
    position: sticky;
    top: 0;
    background-color: #0d1210;
    z-index: 999;
}


#navbarNav {
    background-image: url(../img/css.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    position: fixed;
    top: 3.5rem;
    left: 0;
    bottom: 0;
    right: 0;
}


.header__mobile .navbar-nav .nav-item>span {
    width: 0%;
}

.header__mobile .navbar-nav {
    text-align: center;
    position: relative;
    margin: auto;
}

.header__mobile .navbar-nav .nav-item:hover>span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10%;
    height: .3rem;
    background-color: #fff;
    transition: .3s;
    transition-property: width;
}

/* Main__principal */

.main__principal {
    background-image: linear-gradient(#000000d5, #000000d5), url(../img/foto1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */
.main {
    width: 100%;
    height: 100vh;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main__p {
    font-size: x-large;
}

.main__h1 span {
    color: var(--resaltado);
}

.main__button {
    font-size: x-large;
    padding: 1rem 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--resaltado);
    margin-bottom: 2rem;
}

.main small {
    position: absolute;
    bottom: -1rem;
    font-size: x-small;
    color: #fff;

}

.main small span {
    color: var(--resaltado);
}

/* Main__2 */

.main__2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #111418;
    margin: 0;

}

.main__2__span {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff23;
    font-size: 4rem;
    font-weight: bold;

}

.main__2__h2 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4px;

}

.main__2__h2>span {
    border-bottom: .3rem solid var(--resaltado);

}

.main__2__p__sub {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    margin-top: 5rem;
}

.main__2__p__sub>span {
    color: var(--resaltado);
}

.main__2__msg {
    margin: 0;
}

.main__2__datos {
    align-self: flex-start;
    width: 100%;
}


/* Main__3 */

.main__3 {
    background-color: #111418;
    margin: 0;
}

.main__3 .card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "card__1"
        "card__2"
        "card__3"
        "card__4";
    row-gap: 1rem;
    justify-items: center;
    background-color: transparent;
    border: none;
}

@keyframes card__item {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.card__item {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(50, 50, 50, 0.6), rgba(0, 0, 0, 0.3));
    background-size: 600% 600%;
    animation: card__item 8s infinite linear;
}

.card__item {
    width: 90%;
    border-radius: .5rem;
    padding: .5rem;

}

.card__item:hover {
    transform: scale(1.1);
    transition: .2s transform;
}

.card__item:hover span {
    width: .5rem;
    background-color: var(--resaltado);
    transition: .2s;
    transition-property: width height;
}

.card__item span {
    display: block;
    width: 1.5rem;
    height: .5rem;
    background-color: #dc3545;
    border-radius: 1rem;
}

.card__item h3 {
    text-align: center;
    font-size: small;
    color: var(--resaltado);
}

.card__item p {
    font-size: x-small;
    text-align: center;
}

.card__item--1 {
    grid-area: card__1;
}

.card__item--2 {
    grid-area: card__2;
}

.card__item--3 {
    grid-area: card__3;
}

.card__item--4 {
    grid-area: card__4;
}

/* Main__4 */

/* Hereda del Main__3 */


/* Main__5 */


.main__5 {
    background-color: #111418;
    margin: 0;
}

.main__5 table {
    width: 90%;
}

.main__5 table thead {
    color: var(--resaltado);
}

.main__5 table tbody td {
    font-size: small;
    border: none;
    color: #ffffffa8;
}

.main__5 table tbody td a {
    color: #ffffffa8;
    text-decoration: none;

}

/* Footer */

.footer {
    grid-area: footer;
    background-color: #2125292c;
}

.footer .nav-item .nav-link {
    line-height: 3;
}


/* Media queries */

@media(max-width:400px) {

    /* Aboutme */

    .main__2 {
        justify-content: center;
    }

    .main__2__span {
        top: 60px;
    }

    .main__2__h2 {
        top: 95px;
    }

    .main__button {
        font-size: small;
        margin: 0;
        padding: .5rem;
        margin-top: -2rem;
    }

    /* Experience */
    .main__4 {
        justify-content: flex-end;
    }

    /* Portfolio */
    .main__5 {
        justify-content: flex-end;
    }


}

@media(min-width:400px) {

    /* Training */
    .card__item {
        width: 70%;
    }

    /* Portafolio */

    .main__5 {
        justify-content: flex-end;
    }
}

@media(min-width:600px) {

    /* Training */
    .card__item {
        width: 55%;
    }

    .main__5 {
        justify-content: center;
    }
}

@media(min-width:768px) {


    /* Training */
    .main__3 .card {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            ". card__1 ."
            "card__2 . card__3"
            ". card__4  .";
    }

    .main__3 .card .card__item {
        width: 90%;
    }

    /* Experience */

    .main__4 .card {

        grid-template-columns: 1fr 1fr 5rem 5rem 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            ". card__1 card__1 card__2 card__2 ."
            ". . card__3 card__3 . ."
            ". card__4  card__4 card__5 card__5 .";
        gap: 1rem;
    }

    .main__4 .card .card__item {
        width: 100%;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .main__4 .card .card__item span {
        position: absolute;
        top: .5rem;
    }

    .main__4 .card .card__item--3 {
        width: 15rem;
    }

    .main__4 .card .card__item--5 {
        grid-area: card__5;
    }




}

@media(min-width:992px) {

    /* Vista index */
    .contenedor {

        max-width: 1400px;
        margin: auto;
        grid-template-columns: 15rem 1fr 1fr;
        grid-template-areas:
            "navegacion main main"
            "navegacion main main"
            "navegacion main main";
    }

    .header__mobile {
        display: none;
    }

    .main {
        height: 100vh;
    }

    .footer {
        display: none;
    }

    .header__desktop {
        display: flex;
    }


    /* Aboutme */
    .main__2 {

        background-color: #111418;
    }

    .main__2__span {
        top: 20px;
        left: 60%;
    }

    .main__2__h2 {
        top: 50px;
        left: 60%;

    }


    /* Training */

    .main__3 .card .card__item {
        width: 80%;
        height: 7rem;
    }

    .main__2__span--mod {
        top: 5px;
    }

    .main__2__h2--mod {
        top: 35px;
    }


    /* Experiencie */

    .main__4 .card .card__item {
        width: 100%;
    }

    .main__4 .card {
        grid-template-columns: repeat(6, 5rem);
        grid-template-rows: repeat(4, 5rem);
        justify-content: center;
    }

    .main__4 .card .card__item--1 {
        grid-column: 2/5;
        grid-row: 2/4;
    }

    .main__4 .card .card__item--2 {
        grid-column: 3/6;
        grid-row: 3/5;
    }

    .main__4 .card .card__item--3 {
        grid-column: 2/5;
        grid-row: 4/6;
        width: 100%;
    }

    .main__4 .card .card__item--4 {
        grid-column: 3/6;
        grid-row: 5/7;
    }

    .main__4 .card .card__item--5 {
        grid-column: 2/5;
        grid-row: 6/8;
    }


    /* Portafolio */

    .main__5 {
        margin: 0;
    }





}