.contenedor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas:
        "navegacion"
        "main"
        "footer";
    position: relative;
}


@media(min-width:992px) {

    .contenedor {

        max-width: 1400px;
        margin: auto;
        grid-template-columns: 15rem 1fr 1fr;
        grid-template-areas:
            "navegacion main main"
            "navegacion main main"
            "navegacion main main";
    }

}